.form {
width: 340px;
padding: 20px;
margin-right: auto;
margin-left: auto;
}

.button {
  display: block;
margin-right: auto;
margin-left: auto;
margin-top: 60px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid red;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  color: red;

  cursor: pointer;
}

.button:hover,
.button:focus {
  border: 1px solid #fff;
  color: #fff;
}
